<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>UltraMDmemo</string>
    <key>CFBundleDisplayName</key>
    <string>UltraMDmemo</string>
    <key>CFBundleIdentifier</key>
    <string>com.szk-oss.ultramdmemo</string>
    <key>CFBundleVersion</key>
    <string>1.0.4</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.4</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>UltraMDmemo</string>
    <key>CFBundleIconFile</key>
    <string>app.icns</string>
    <key>LSMinimumSystemVersion</key>
    <string>11.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2024-2026 szk-oss</string>
</dict>
</plist>
